@page "/skills"
<NavBar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Skills</h1>
            <p>On this page we gonna highlight the most skills we have in valravn studio</p>
            <div class="row mt-4">
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class="card-img-top" src="assets/img/Skillsicons/csharpIcon.jpg" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class="card-img-top" src="assets/img/Skillsicons/frontEnd.jpg" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Front End</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class="card-img-top" src="assets/img/Skillsicons/bootstrap.jpg" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Front End Framework</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row my-3">
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class="card-img-top" src="assets/img/Skillsicons/azure.png" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Azure DevOps</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class="card-img-top" src="assets/img/Skillsicons/apsBlazor.png" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Back End Framework</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img class=" card-img-top" src="assets/img/Skillsicons/sql.png" alt="c# icon">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Sql Database</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur doloribus eius ex, expedita, facere fugiat fugit hic inventore neque obcaecati officiis pariatur quam quasi, reprehenderit similique tenetur unde voluptate.
                            </p>
                        </div>
                    </div>
                </div>
                            
            </div>
            
        </div>
    </div>
</main>

<Footer />